@CHARSET "utf-8";
/* 주석  */
* {
		color : blue;
		text-align : center;
	}
	
	h1 {
		background-color: #FFDAB9;
		border : 2px solid;
	}
	
	h3{
		color : pink;
		text-align : right;
	}
	
	h1, h3{
		text-decoration: underline;
	}
	
	#text1{
		font-weight: bold;
	}
	
	.text2{
		font-style: italic;
	}